<button class="scrape">Scrape</button>
<a href='/saved'><button class="scrape">Saved Articles</button></a>
<div id="wrapper">
    <h1>Cosmopolitan Scraper</h1>
    <h2><i>Let's See What These Celebrities Are Up To</i></h2>
    <div id="articles">
        {{#each articles}}
        {{#unless saved}}
        <p data-id='{{_id}}'>
            <br/>
            {{title}}
            </br>
            <br/>
            {{link}}
            </br>
            <br/>
            {{author}}
            </br>
            <br/>
            {{summary}}
            </br>
        </p>

        <button data-id='{{_id}}' id="saveArticle">Save</button>
        {{/unless}}
        {{/each}}
    </div>
    <div id="notes"></div>
</div>