<div id="articles">
          {{#each articles}}
          {{#if saved}}
          <p data-id='{{_id}}'>
            <br/>
            {{title}}
            </br>
            <br/>
            {{link}}
            </br>
            <br/>
            {{author}}
            </br>
            <br/>
            {{summary}}
            </br>
        </p>
          {{/if}}
          {{/each}}
      </div>